<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-8">
		<b>
			<a href="https://chembic.nju.edu.cn/">Chemistry and Biomedicien Innovation Center</a><br />
			Nanjing University<br />
			Nanjing, China<br />
		</b>     
		</div>

		<div class="col-sm-4"><b>
		  <a href="https://life.nju.edu.cn/lifeen/">School of Life Sciences</a><br />
		  Nanjing University<br />
		  Nanjing, China<br />
		</b>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
